@model Exercises.Pages.NewsletterSignup
@{ ArgumentNullException.ThrowIfNull(Model); }

<div id="modal-backdrop" class="modal-backdrop fade" style="display:block;"></div>
<div id="modal" class="modal fade" tabindex="-1" style="display:block;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hello From The Server</h5>
            </div>
            <div class="modal-body">
                <p>
                    Thanks for subscribing to our AMAZING NEWSLETTER!
                </p>
                <hr/>
                <p>Expect amazing things to appear in your inbox at <code>@Model.Email</code>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>