@model JetSwagStore.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    System.Diagnostics.Debug.Assert(Model != null, nameof(Model) + " != null");
}

@section Header
{
    <header class="bg-dark jetbrains py-2">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">JetBrains Swag Store</h1>
                <p class="lead fw-normal mb-0">
                    Adding More Beauty To Your Brains
                </p>
            </div>
        </div>
    </header>
}

<div class="row">
    <form asp-action="Index" asp-controller="Home" method="GET">
        <div class="input-group mb-5">
            <span class="input-group-text" id="search-addon">
                <i class="fa fa-search"></i>
            </span>
            <input type="text"
                   id="query"
                   asp-for="Query"
                   hx-get
                   hx-action="index"
                   hx-controller="home"
                   hx-route-category="@Model.Category?.Name"
                   hx-target="#results"
                   hx-swap="outerHtml"
                   hx-trigger="keyup changed delay:250ms"
                   hx-indicator="#loading"
                   autocomplete="off"
                   autofocus="autofocus"
                   placeholder="Search"
                   class="form-control"
                   aria-label="Username"
                   aria-describedby="search-addon">
            <input type="hidden" asp-for="Category"/>
        </div>
    </form>
</div>

@await Html.PartialAsync("_Products")
