<div id="cartButton" class="d-flex" hx-swap-oob="true">
    <button 
        hx-get
        hx-action="Show"
        hx-controller="Cart"
        hx-target="#product-modal-container"
        hx-swap="innerHTML"
        _="on htmx:afterOnLoad call showModal()"
        class="btn btn-outline-dark" type="submit">
        <i class="fa fa-shopping-basket me-1"></i>
        Cart
        <span class="badge bg-dark text-white ms-1 rounded-pill" hx-cart>
            @Cart.TotalItems
        </span>
    </button>
</div>

