@page "/examples/08-keyboard-shortcuts"
@model Exercises.Pages.Shortcuts
@{
    ViewBag.Title = "Keyboard Shortcuts";
    ViewBag.Previous = "07_Tabs";
    ViewBag.Next = "09_FormValidation";
}

<markdown>
    # 8. Keyboard Shortcuts

    HTMX typically triggers off of user clicks but can do so much more. You can assign triggers to keystrokes and commands using the `keyup[]` value for `hx-trigger`. For example, the following attribute will show a toast notification when using the `?` key anywhere in the `body`. 
    
    ```
    hx-trigger="keyup[key=='?'] from:body"
    ```
    
    Note that the toast element found in `Shared/_Toast.cshtml` is only HTML. The toast's target is an HTML element at the bottom of our page.
    
    **Try it out!**
    
    **Question: What other keyboard shortcuts would you like to attach? Try changing the `hx-trigger` attribute with your own key combinations.**
    
    ---
</markdown>

<div class="mb-5">

    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Info:">
             <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div>
            Try pressing the <span class="fw-bold">Question Mark (<code>?</code>)</span> key on your keyboard. Look to the bottom right of your window.
        </div>
    </div>

</div>

@section end {
    <div id="toast-goes-here" class="toast-container position-absolute bottom-0 end-0 p-3"></div>
}